<html>
    <head>
        <title>{{ title }}</title>
        <meta name="description" content="The web development research and experiments of Ben Embery"
    </head>
    <body>
        {% body %}
    </body>
</html>